@import "_normalize.scss";
$one:#FFB32C;
$twoo:#2ECC71;
$three:#282828;
// $three:#484848;
html {
  font-size:16px;
  font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  text-rendering: optimizeLegibility;
}
 // body{ zoom: 110%} 
* {
  margin: 0;
  padding: 0; }

.cf:after,
.cf:before {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic');
// @import "_modal.scss";
.container {
  max-width: 736px;
  margin: 0 auto;
  padding: 0 1rem;
}
h1{

font-size: 2.25rem;
font-weight: 700;
line-height: 2.25rem;
}
      @media only screen and (max-width: 700px) {
        
    }
@import "_header.scss";
@import "_hero.scss";
@import "_modal.scss";
@import "_main.scss";
@import "_menu.scss";
// @import "_banner.scss";
@import "_preim.scss";
@import "_work.scss";
// @import "price";
@import "_footer.scss";