@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1.15;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

.bigred {
  font-size: 20px;
  color: red; }

html {
  font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  text-rendering: optimizeLegibility; }

.cf:after,
.cf:before {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.container {
  display: block;
  max-width: 940px;
  margin: 0 auto; }

.header {
  width: 100%;
  background-color: #282828; }
  .header__row {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.menu__list {
  display: flex; }

.menu__item {
  color: #f4f2ef;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0 0 0 2rem;
  display: block;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative; }
  .menu__item:after {
    content: " ";
    position: absolute;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #FFB32C;
    bottom: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .menu__item:hover {
    color: #FFB32C; }
    .menu__item:hover:after {
      width: 100%;
      left: 0; }
