.header {
  width: 100%;
  
  background-color: #282828;
  // .header__row
  &__row {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo{

}

.menu {
  // .menu__list
  &__list {
     display: flex;
     margin-right: .75rem;
     padding-inline-start: 0;

     @media (max-width: $md3+px) { 
         display: none;
      }
        }


  // .menu__item
  &__item {
      color: #f4f2ef;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 2.5rem;
      margin: 0 0 0 1rem;
      display: block;
      @include anim(0.5s,0s);
      position: relative;
        @media (max-width: $md2+px) { 
              font-size: 1.1rem;
              margin-left: 1rem;
          }
      &:after{
        content: " ";
        position: absolute;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: $one;
        bottom: 0;
         @include anim(0.5s,0s);
        }
      &:hover {
        color: $one;
        &:after{
          width: 100%;
          left: 0;

        }

      }
      
  }
}
.active {
}



