.hero {
    // max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    min-height: 400px;
    background:url(../img/b_g1.jpg),linear-gradient(to top,rgba(34, 47, 62, 0.64), rgba(34, 47, 62, 0.64));

    background-repeat: no-repeat;
    background-position:center center;
    // background-size: cover;
    position: relative;

    // overflow: hidden;
    // .hero__line
      @media screen and (max-width: $md2+px) { 
            background:url(../img/b_g1_md2.jpg),linear-gradient(to top,rgba(34, 47, 62, 0.64), rgba(34, 47, 62, 0.64));
        }
              @media screen and (max-width: $md3+px) { 
            background:url(../img/b_g1_md3.jpg),linear-gradient(to top,rgba(34, 47, 62, 0.64), rgba(34, 47, 62, 0.64));
        }
              @media screen and (max-width: $md4+px) { 
            background:url(../img/b_g1_md4.jpg),linear-gradient(to top,rgba(34, 47, 62, 0.64), rgba(34, 47, 62, 0.64));
        }
    &__line {
        height: 300px;
        width: 100%;
        background-color: #f0f0f000;
        background-image: linear-gradient(transparent, rgba(34, 47, 62, 0.64) 20%, rgba(34, 47, 62, 0.64) 80%, transparent, );
        position: absolute;
        top: 15%;

        @media screen and (max-width: $md3+px) {
            top: 5%;
            height: 400px;
        }

    }
    &__line .container {
      height: 100%;
    }
    // .hero__row
    &__row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 100%;

        @media screen and (max-width: $md3+px) {
            flex-direction: column;
        }
    }

    // .hero_title
    &__title {

        text-align: center;
          @media screen and (max-width: $md2+px) { 
              padding: 0px 20px 0px 20px;
                
            }


    }

    &__title h1 {
        // color: $h1;
        // margin: 0.67rem 1rem;
        // @media screen and (max-width: $md3+px) {
        //     font-size: 1.75rem;
        //     margin: 0.67rem .2rem 0 .2rem;
        // }


    }

    // .hero_modal
    &__modal {
        color: $h1;
        text-align: center;
        // width: 250px;
        margin: 100px  0;
        padding: 0 10%;
        @media screen and (max-width: $md3+px) {
            flex-direction: column;
            margin-top: 1rem;
        }
          @media screen and (max-width: $md2+px) { 
                padding: 0 1rem;
            }
    }
        &__modal label {
          margin: 2rem auto;
            @media screen and (max-width: $md4+px) { 
                  margin: 1rem auto;
              }


}


}
    .hero:before {
 conten:'';
 width: 100%;
 position: absolute;
 background-color: red;
}

.button {
    display: block;
    // width: 220px;
    // height: 48px;
    border-radius: 6px;
    background-image: linear-gradient(180deg, $twoo 0%, $twoo_dark 100%);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 60px;
}