.wrapper {
  display: flex;
  // margin: 0px -15px 0px -15px;
  justify-content: space-between;
  @media screen and (max-width: $md2+px) {
    flex-direction: column;
  }
}
.paper {
  flex-basis: 66.66%;
  margin: 0 2rem 1rem 1rem;
  @media screen and (max-width: $md3+px) { 
    margin: 0 0 1rem 0;
  }
  &__title {
    margin-left: 5%;
    h1 {
      @media screen and (max-width: $md2+px) {
        font-size: 1.75rem;
      }
    }
  }

  // .piper__text
  &__text {
    p{
      text-indent: .5rem;
    }
    img {
      float: right;
      margin: .5rem;
      @media screen and (max-width: $md4+px) { 
        width: 90vw;
        margin: 0 auto;
      }
    }
  }
  &__table{

    width: 100%; 
    border-collapse: collapse;
    td {padding: 12px 16px;}
    th {padding: 12px 16px;}
     thead tr {color: #ffffff; font-weight: bold; background: $one;}
     thead tr td {border: 1px solid $one_dark;}
     tbody tr td {border: 1px solid #e8e9eb;}
     tbody tr:nth-child(2n) {background: #f4f4f4;}
     tbody tr:hover {background: lighten($one, 30%);}
  }



  // .piper__footer
  &__footer {
  }
}
.about__title{
  color: $t_red;
  h1 {
    @media screen and (max-width: $md2+px) {
      font-size: 1.75rem;
    }
  }
}
.about__text{
  img {
    border-radius: 50%;
      @media screen and (max-width: $md4+px) { 
        width: 100px;
        margin: 0 auto;
      }
    }
}
.article {
    // .article__card
    &__card {
      display: flex;
      width: 90%;
      margin: 2rem auto;
      border-radius: 4px;
      box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.35);
    }
		// .article__img
		&__img {
      width: 150px;
      height: 120px;
      background: pink;
      img {
        height:100%;
        margin: auto;
      }
      @media screen and (max-width: $md3+px) { 
        display: none;
      }
    }
		// .article__block
		&__block {
      padding: 10px 10px 0px 3rem;
      
    }
		// .article__title
		&__title {
      padding: 10px 10px 0px 3rem;
      display: inline-block;
      @media screen and (max-width: $md3+px) { 
        // margin-bottom: 10px;
        padding: 10px 10px 0px 1rem;
      }
        a{
        display: block;
        width: 100%;
        height: 100%;
        line-height: 1.5rem;
      }
    }
    // .article__link
    &__link{
      font-size: 1.25rem;
      font-weight: bold;
      color: $h2;
      line-height: 1.5rem;
      small{
        font-size: 1rem;
        font-weight: normal;

      }
      span{
        font-size: 0.8rem;
        color:$one;
      }
      @media screen and (max-width: $md3+px) { 
        line-height: 1rem;
      }

    }
    // .article_text
    &_text {
      display: block;
      p{
        @media screen and (max-width: $md2+px) { 
          margin: 0;
        }
        @media screen and (max-width: $md3+px) { 
          font-size: .9rem;
        }
      }
      a{
        display: block;
        color: $one;
        width: 100%;
      }
    }
}



