.quesion {
  width: 100%;
  background-color: darken($bg-sec,30%);
  color: $h1;
  // .quesion__row
  &__row {
    text-align: center;
  }
  // .quesion__ticker
  &__ticker {

 
      padding: 30px 0px 10px 0px;
      h2{
    color: $one;
      }
  }
  // .quesion__text
  &__text {}
  // .quesion__title
  &__title {
        color: $h1;
  }
  // .quesion__subscribe
  // &__subscribe 
  &__form{
    display: flex;
    justify-content: center;
    padding: 20px 0 30px 0;
          .button {
      padding: 10px 20px;
          font-size: 20px;
          color: $h1;
          border: 0;
          border-radius: 6px;
          @media screen and (max-width: $md3+px) { 
            margin: 0 20px;

        }
      }
      @media screen and (max-width: $md3+px) { 
            flex-direction: column;

        }
  }

  &__input{
    flex: 0 1 400px;
    padding-left: 10px;
    margin: 0 30px;
    border-radius: 6px;
    


    @media screen and (max-width: $md3+px) { 
            flex: 0 1 44px;
            margin: 20px 20px;
        }
    &:focus{
          outline:none;
    border:#0097e6 1px solid;
    color:#0097e6;
    }
    &::placeholder{
      color :darken($bg-sec,30%);
    }
  }
}

  @keyframes tickerv {
    0% {margin-top: 0;}
    25% {margin-top: -26px;}
    50% {margin-top: -52px;}
    75% {margin-top: -78px;}
    100% {margin-top: 0;}
  }
  .quesion__text {
    box-sizing: content-box;
    height: 25px;
    overflow: hidden;
      @media screen and (max-width: $md3+px) { 
            height: 65px;
        }
  } 
  .quesion__text ul {
    padding:0;
    margin:0;
    list-style-type: none;
    animation-name: tickerv;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, .5, 0);
  }
  .quesion__text ul:hover {
    animation-play-state: paused;
  }
  .quesion__text ul li {
    font-size: 1.25rem;
    color: $one;
    line-height: 26px;
      @media screen and (max-width: $md3+px) { 
            font-size: 1rem;
            line-height: 20px;
        }
  }
 
