@import "_global.scss";
.hero {
    background:url(../img/b_g1.jpg),linear-gradient(to top,rgba(34, 47, 62, 0.64), rgba(34, 47, 62, 0.64));

    background-repeat: no-repeat;
    background-position:center center;
    // background-size: cover;

    // overflow: hidden;
    // .hero__line
      @media screen and (max-width: $md2+px) { 
            background:url(../img/b_g1_md2.jpg),linear-gradient(to top,rgba(34, 47, 62, 0.64), rgba(34, 47, 62, 0.64));
        }
              @media screen and (max-width: $md3+px) { 
            background:url(../img/b_g1_md3.jpg),linear-gradient(to top,rgba(34, 47, 62, 0.64), rgba(34, 47, 62, 0.64));
        }
              @media screen and (max-width: $md4+px) { 
            background:url(../img/b_g1_md4_50.jpg),linear-gradient(to top,rgba(34, 47, 62, 0.64), rgba(34, 47, 62, 0.64));
        }
      }
@import "_price.scss";
@import "_preim.scss";
@import "_work.scss";
@import "_photo.scss";
@import "_quesion.scss";