@import "_normalize.scss";
@import "_global.scss";
html {
  font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  // text-rendering: optimizeLegibility;
}
 // body{ zoom: 110%} 

.cf:after,
.cf:before {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  @media (max-width: $md1+px) {max-width: 960px;}
  @media screen and (max-width: $md2+px) {max-width: 768px;}
  @media screen and (max-width: $md3+px) {max-width:480px;padding: 0 1rem;};
}

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: $h2
  }
    h3{
    font-size: 1.15rem;
    font-weight: 700;

  }
  h4{
    font-size: 1.1rem;
    font-weight: 700;
  }

  
@import "_header.scss";
@import "_hero.scss";
@import "_modal.scss";
@import "_footer.scss";



